<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{usuario.inicio}">Esta es una zona privada la web</h3>
		<p>
			<span  th:text="#{usuario.identificacion}">
			Usuario Autenticado como:</span>
			<span sec:authentication="principal.username"
 			th:inline="text"></span>
		</p>
		<div class="table-responsive">
			<table th:replace="fragments/tableOfertas" th:fragment="tableOfertas" id="tableOfertas"/>
		</div>
	</div>
	<footer th:replace="fragments/pagination"/>
		
	<footer th:replace="fragments/footer" />
</body>
</html>